.nav-item {
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #222;
    display: block;
    margin-bottom: 10px;

}

.nav-item:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

.create-demand-button {
    background-color: #222;
    color: #fff;
    text-decoration: none;
    width: 200px;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 10px;
}

.create-demand-button:hover {
    background-color: #e0a800; /* Cor mais escura ao passar o mouse */
}
