.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.uniedu {
  height: 30vmin !important;
  pointer-events: none;
  margin-right: 30px !important;
}



