.footer {
    background-color: #333;
    color: #fff;
    padding: 0.1em;
    text-align: center;
    position: relative; /* Adicione essa linha para controlar a sobreposição */
    z-index: 1; /* Defina um valor de z-index para controlar a camada do footer */
}

.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-list li {
    margin: 0 1em;
}

.social-list li:hover {
    color: #0168d6;
}

.uniedu-logo {
    height: 7vmin !important;
    pointer-events: none;
}

.image-link-container {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    padding: 15px;
    z-index: 2; /* Certifique-se de que o círculo fique sobre o fundo azul do footer */
}

.image-link {
    display: block;
    width: 100%;
    height: 100%;
}
