.footer {
    background-color: #333;
    color: #fff;
    padding: 0.1em;
    text-align: center;
    position: relative; /* Adicione essa linha para controlar a sobreposição */
    z-index: 1; /* Defina um valor de z-index para controlar a camada do footer */
}

.social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social-list li {
    margin: 0 1em;
}

.social-list li:hover {
    color: #0168d6;
}

.uniedu-logo {
    height: 15vmin !important;
    pointer-events: none;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

/* Estilo para a sobreposição colorida */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Cor de sobreposição inicial (transparente) */
    transition: background-color 0.3s; /* Adiciona uma transição suave à mudança de cor */
}

/* Quando o mouse passa por cima da imagem, altere a cor de sobreposição */
.image-container:hover .overlay {
    background-color: #ffbb33; /* Cor desejada para a sobreposição */
}



.copy_right {
    margin-top: -1em;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}
