.linkbutton {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 5px;
}

.linkbutton:hover{
    color: #ffbb33;
    transform: translateY(-2px);
}

.linkbutton:active {
    transform: translateY(0);
  }