/* Estilo para a barra de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 15px;
  color: white;
  height: 3.5em;
}
  
  /* Estilo para o logotipo */
  .logo {
    width: 9em;
    height: auto;
    position: absolute;
    left: 15px; /* Define a posição em relação à borda esquerda */
    top: 6%; /* Alinha verticalmente ao meio da barra de navegação */
    transform: translateY(-50%); /* Ajusta para centralizar verticalmente */
  }
  
  /* Estilo para o contêiner flex que envolve a lista */
  .link-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  
  /* Estilo para a lista de links */
  .link-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  /* Estilo para os itens da lista de links */
  .link-item {
    margin-right: 10px; 
  }
  
  /* Estilos Para os Itens */
  .item {
    margin-right: 1.5em;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s; /* Adiciona uma transição suave de 0.2 segundos ao tamanho */
  }
  
  /* Quando o mouse passa por cima do item, aumente o tamanho (scale) */
  .item:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
  }
  
  /* Restaure o tamanho original quando não estiver mais em foco */
  .item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  /* Quando o mouse passa por cima do link, altere a cor */
  .item a:hover {
    color: #ffbb33;
  }


  .item2 {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
  }
  
  .item2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item2 img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
  }
  

  .item2 div {
    margin-left: -10px;
    margin-top: 35px;
    color: #fff;
    text-align: center;
    cursor: pointer; /* Adicionar cursor pointer para indicar interatividade */
    transition: color 0.2s, transform 0.2s; /* Adicionado transição de cor e tamanho ao passar o mouse */
  }
  
  .item2:hover div {
    color: #ffbb33; /* Alterar cor ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
  }

  a {
    text-decoration: none !important;
  }
  