/* Estilo para a barra de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 15px;
  color: white;
  height: 3.5em; /* Defina a altura desejada para a barra de navegação */
}
  
  /* Estilo para o logotipo */
  .logo {
    width: 9em;
    height: auto;
  }
  
  /* Estilo para o contêiner flex que envolve a lista */
  .link-container {
    display: flex;
    justify-content: center;
  }
  
  /* Estilo para a lista de links */
  .link-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  /* Estilo para os itens da lista de links */
  .link-item {
    margin-right: 10px;
  }
  
  /* Estilo para o botão "Sair" */
  .logout-button {
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    cursor: pointer;
    width: 100px;
  }

  .logout-button:hover {
    background-color: #a4a6a7; /* Altera a cor de fundo ao passar o mouse */
}
  
  /* Estilos Para os Itens */
  .item {
    margin-right: 1.5em;
  }

  .item a {
    color: #fff;
    text-decoration: none;
  }

  .item a:hover {
    color: #7f8080;
  }